---
layout: default
comments: true
---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v16.0&appId=1651905905271438&autoLogAppEvents=1" nonce="HtGLbLbA"></script>
<img src="{{ page.cover }}" style="height: 5em; width: 100%; object-fit: cover;"/>
<h2>{{ page.title }}</h2>
{{ content }}
<br>
<p>{{ page.date | date_to_string }}</p>
<div class="fb-comments" data-href="https://roger-almeida.com{{page.url}}" data-width="100%" data-colorscheme="dark" data-numposts="5"></div>